name: Python CI/CD
on:
  push:

    branches: [ main ] 
  pull_request:
    branches: [ main ]

jobs:
  build:
       
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5  

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'
          cache: 'pip'          

      - name: Install Dependencies

        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

  deploy:
    runs-on: ubuntu-latest   
    needs: build
    steps:
      - name : Checkout Code
        uses: actions/checkout@v4
    
      - name: docker build
        run: docker build -t sourabhj11/expense_repo:latest .

      - name: docker config
        run: echo "${{secrets.DOCKER_PASS}}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin  
    
      - name: pushing image to docker hub
        run: docker push sourabhj11/expense_repo:latest